# Hardware Config specified for Ender 5 with SKR 2

[printer]
kinematics: cartesian
max_velocity: 1000
max_accel: 4500
max_z_velocity: 10
max_z_accel: 100

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_1E0028001447393437303337-if00

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
min_temp: 0
max_temp: 135

[fan]
pin: PB7

[heater_fan hotend_cooling_fan]
pin: PB4
heater: extruder
# heater_temp: 50.0
fan_speed: 1.0

#[heater_fan fan2]
#pin: PB5

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1

########################################
# Display Configuration
########################################

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

# disables the octoprint menu entry
[menu __main __octoprint]
type: disabled

########################################
# Stepper configuration
########################################

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 220
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PD5
dir_pin: !PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 220
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 300

[extruder]
max_extrude_only_distance: 800.0
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
# rotation_distance: 32.342             ; original
rotation_distance: 33.7175724091
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
min_temp: 0
max_temp: 260
# min_extrude_temp: 0
# pid values in auto generated part

### Only activate to work on hotend and/or extruder
# [verify_heater extruder]
# max_error: 999999999999

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.851 #1.0 max (1.5A * 0.707 = 1.06)
#diag_pin:

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 1.0 #1.1 max (1.68A * 0.707 = 1.1877)
#diag_pin:

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.851
#diag_pin:

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.600
#diag_pin:

#[tmc2209 extruder1]
#uart_pin: PD12
#run_current: 0.600
#diag_pin: